:root{
  --pokemonSize: 256;
}

.pokedex{
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(7, calc(var(--pokemonSize) * 1px));
}

.pokemon{
  &:last-child{
    grid-column: 4;
    grid-row: 1;
  }
  &__block{
    border-radius: 7.8%;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
    *,
    *:before,
    *:after{
      position: absolute;
      transition: .3s;
    }
  }
  &__title{
    text-align: center;
  }
}