.persian{
  background: #f7e8bd;
  &__dot{
    @extend %centerX;
    @include setSize(height, 30);
    @include setSize(top, 41);
    @include setSize(width, 30);
    background: #e17b6b;
    &:before{
      @include setSize(height, 9, 30);
      background: #f79f91;
      bottom: 0;
      content: '';
      left: 0;
      width: 100%;
    }
    &:after{
      @include setSize(height, 9, 30);
      @include setSize(left, 6, 30);
      @include setSize(top, 2, 30);
      @include setSize(width, 9, 30);
      background: #f7dfdb;
      content: '';
    }
  }
  &__eyes{
    @extend %full;
  }
  &__eye{
    @include setSize(height, 59);
    @include setSize(top, 59);
    @include setSize(width, 83);
    background: #fcfbf4;
    &:before{
      @include setSize(height, 54, 59);
      @include setSize(width, 14, 83);
      background: linear-gradient(180deg, #e97560 0%, #e97560 75.9%, #fc7e68 75.9%, #fc7e68 100%);
      content: '';
      top: 0;
    }
    &.--left{
      @include setSize(left, 21);
      clip-path: polygon(0 0, 55.4% 0, 100% 100%, 0 100%);
      &:before{
        @include setSize(left, 41, 83);
      }
    }
    &.--right{
      @include setSize(right, 21);
      clip-path: polygon(44.6% 0, 100% 0, 100% 100%, 0 100%);
      &:before{
        @include setSize(right, 41, 83);
      }
    }
  }
  &__nose{
    @extend %centerX;
    @include setSize(height, 20);
    @include setSize(top, 116);
    @include setSize(width, 32);
    background: #423833;
    &:before{
      @extend %centerX;
      @include setSize(height, 40, 20);
      @include setSize(width, 6, 32);
      background: #decfa5;
      content: '';
      top: 100%;
    }
    &:after{
      @extend %centerX;
      @include setSize(height, 2, 20);
      @include setSize(width, 8, 32);
      background: #e7d3a5;
      content: '';
      top: 100%;
    }
  }
  &__mouth{
    @extend %centerX;
    @include setSize(height, 53);
    @include setSize(top, 161);
    @include setSize(width, 148);
    background: #af7d91;
    z-index: 1;
    &:before{
      @include setSize(height, 15, 53);
      background: #ce9cb2;
      bottom: 0;
      content: '';
      left: 0;
      width: 100%;
    }
    &:after{
      @include setSize(height, 11, 53);
      background: #f7e8bd;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 58.1% 100%, 50% 0, 41.9% 100%, 0 100%);
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
  &__teeth{
    @extend %full;
    &:before,
    &:after{
      @include setSize(height, 27, 53);
      @include setSize(width, 17, 148);
      background: #efefe7;
      content: '';
      top: 0;
    }
    &:before{
      @include setSize(left, 11, 148);
    }
    &:after{
      @include setSize(right, 11, 148);
    }
  }
}