.ponyta{
  background: #fcf8d3;
  &__fire{
    @extend %full;
    &:before{
      @extend %centerX;
      @include setSize(height, 27);
      @include setSize(width, 206);
      background: #e46633;
      clip-path: polygon(0 0, 100% 0, 92.23% 100%, 7.77% 92.23%);
      content: '';
      top: 0;
    }
    &:after{
      @extend %centerX;
      @include setSize(height, 94);
      @include setSize(width, 176);
      background: #f4be00;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 72.16% 50%, 72.16% 92.55%, 69.32% 100%, 30.68% 100%, 27.84% 92.55%, 27.84% 50%, 0 50%);
      content: '';
      top: 0;
    }
  }
  &__eyes{
    @extend %full;
  }
  &__eye{
    @include setSize(height, 76);
    @include setSize(top, 97);
    @include setSize(width, 67);
    background: #1b0a08;
    &:before{
      @include setSize(height, 12, 76);
      background: #4a3a29;
      bottom: 0;
      content: '';
      left: 0;
      width: 100%;
    }
    &:after{
      @include setSize(height, 28, 76);
      @include setSize(top, 9, 76);
      @include setSize(width, 17, 67);
      background: #fcf8f4;
      content: '';
    }
    &.--left{
      @include setSize(left, 17);
      clip-path: polygon(0 0, 100% 14.47%, 100% 100%, 0 100%);
      &:after{
        @include setSize(left, 27, 67);
        clip-path: polygon(0 0, 100% 10.71%, 100% 100%, 0 100%);
      }
    }
    &.--right{
      @include setSize(right, 17);
      clip-path: polygon(0 14.47%, 100% 0, 100% 100%, 0 100%);
      &:after{
        @include setSize(right, 27, 67);
        clip-path: polygon(0 10.71%, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
  &__nose{
    @extend %full;
    &:before,
    &:after{
      @include setSize(bottom, 24);
      @include setSize(height, 20);
      @include setSize(width, 9);
      background: #cec9aa;
      content: '';
    }
    &:before{
      @include setSize(left, 104);
    }
    &:after{
      @include setSize(right, 104);
    }
  }
}