.stari{
  background: #91754f;
  &__back{
    @include setSize(height, 220);
    @include setSize(width, 220);
    background: #f7e568;
    bottom: 0;
    clip-path: polygon(0 0, 83.64% 0, 83.64% 68.18%, 100% 68.18%, 100% 83.64%, 50.91% 83.64%, 50.91% 100%, 32.73% 100%, 32.73% 83.64%, 0 83.64%);
    right: 0;
  }
  &__star{
    @extend %center;
    @include setSize(height, 204);
    @include setSize(width, 226);
    background: #fff16d;
    clip-path: polygon(0 43.63%, 2.21% 41.67%, 21.24% 41.67%, 21.24% 28.92%, 5.31% 10.78%, 5.31% 8.33%, 12.83% 0, 15.49% 0, 31.42% 18.63%, 68.58% 18.63%, 84.51% 0, 87.17% 0, 94.69% 8.33%, 94.69% 10.78%, 78.76% 28.92%, 78.76% 41.67%, 97.79% 41.67%, 100% 43.63%, 100% 56.37%, 97.79% 58.33%, 78.76% 58.33%, 78.76% 71.08%, 94.69% 89.22%, 94.69% 91.67%, 87.17% 100%, 84.51% 100%, 68.58% 81.37%, 31.42% 81.37%, 15.49% 100%, 12.83% 100%, 5.31% 91.67%, 5.31% 89.22%, 21.24% 71.08%, 21.24% 58.33%, 2.21% 58.33%, 0 56.37%);
  }
  &__eye{
    @extend %center;
    @include setSize(height, 110);
    @include setSize(width, 110);
    background: #ff5f81;
    clip-path: polygon(10.91% 0, 89.09% 0, 100% 10.91%, 100% 89.09%, 89.09% 100%, 10.91% 100%, 0 89.09%, 0 10.91%);
  }
  &__pupil{
    @extend %center;
    @include setSize(height, 92, 110);
    @include setSize(width, 92, 110);
    background: #d64e68;
    clip-path: polygon(13.04% 0, 86.96% 0, 100% 13.04%, 100% 86.96%, 86.96% 100%, 13.04% 100%, 0 86.96%, 0 13.04%);
    content: '';
    &:before{
      @include setSize(height, 33, 92);
      @include setSize(left, 12, 92);
      @include setSize(width, 33, 92);
      background: #fcffff;
      content: '';
      top: 0;
    }
    &:after{
      @include setSize(height, 15, 92);
      @include setSize(left, 8, 92);
      @include setSize(top, 44, 92);
      @include setSize(width, 15, 92);
      background: #fcffff;
      content: '';
    }
  }
}