.staross{
  background: #a59cb7;
  &__back{
    @extend %center;
    @include setSize(height, 176);
    @include setSize(width, 176);
    background: #f7db5d;
  }
  &__star{
    @extend %center;
    @include setSize(height, 226);
    @include setSize(width, 226);
    background: #ffe873;
    clip-path: polygon(0 45.56%, 1.33% 44.25%, 23.45% 44.25%, 23.45% 31.86%, 5.75% 13.72%, 5.75% 11.95%, 11.95% 5.75%, 13.72% 5.75%, 31.42% 23.45%, 44.25% 23.45%, 44.25% 1.33%, 45.56% 0, 54.44% 0, 55.75% 1.33%, 55.75% 23.45%, 68.58% 23.45%, 86.28% 5.75%, 88.05% 5.75%, 94.25% 11.95%, 94.25% 13.2%, 76.55% 31.86%, 76.55% 44.25%, 98.67% 44.25%, 100% 45.56%, 100% 54.44%, 98.67% 55.75%, 76.55% 55.75%, 76.55% 68.14%, 94.25% 86.28%, 94.25% 88.05%, 88.05% 94.25%, 86.28% 94.25%, 68.58% 76.55%, 55.75% 76.55%, 55.75% 98.67%, 54.44% 100%, 45.56% 100%, 44.25% 98.67%, 44.25% 76.55%, 31.42% 76.55%, 13.72% 94.25%, 11.95% 94.25%, 5.75% 88.05%, 5.75% 86.28%, 23.45% 68.14%, 23.45% 55.75%, 1.33% 55.75%, 0 54.44%);
  }
  &__eye{
    @extend %center;
    @include setSize(height, 96);
    @include setSize(width, 96);
    background: #ff6184;
    clip-path: polygon(9.38% 0, 90.62% 0, 100% 7.29%, 100% 92.71%, 90.62% 100%, 9.38% 100%, 0 92.71%, 0 7.29%);
  }
  &__pupil{
    @extend %center;
    @include setSize(height, 82, 96);
    @include setSize(width, 82, 96);
    background: #d64e68;
    clip-path: polygon(7.32% 0, 92.68% 0, 100% 6.1%, 100% 93.9%, 92.68% 100%, 7.32% 100%, 0 93.9%, 0 6.1%);
    &:before,
    &:after{
      background: #f7a0b2;
      content: '';
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }
    &:before{
      clip-path: polygon(52.44% 0, 100% 0, 0 100%, 0 50%);
    }
    &:after{
      clip-path: polygon(23.17% 100%, 100% 24.39%, 100% 40.24%, 40.24% 100%);
    }
  }
}